<div class="input-field col s12" style="border: 1px black solid; text-align:center">
  <div class="row">
    <form action="/admin/add_new_game" role="form" id="add_new_game" method="POST">
      <div class="row">

        <input type="hidden" value="<%= @current_week.id %>" name="game[week_id]">
        <input type="hidden" value="false" name="game[tiebreaker]">
        <div class="input-field col s4"><input placeholder="Away Team" id="away" type="text" name="game[away]" class="validate"></div>
        <div class="input-field col s4"><input placeholder="Home Team" id="home" type="text" name="game[home]" class="validate"></div>
        <div class="input-field col s2"><input placeholder="Spread" id="spread" type="number" name="game[spread]" class="validate"></div>
        <div class="input-field col s2"><input placeholder="Location" id="location" type="text" name="game[location]" class="validate"></div>

      </div>

      <div class="row">
        <div class="col s6" style="border: 1px black solid;">
          <input type="date" class="col s6 offset-s3 datepicker" placeholder="Select Date" name="game[date]">
        </div>
        <div class="col s1" style="border: 1px black solid;">
          <p style="display: inline block; text-align:center"><strong>@</strong></p>
        </div>
        <div class="input-field col s4">
            <select name="game[start_time]" required>
              <option value="" disabled selected>Start Time (EST)</option>
              <% @times.each do |t| %>
                <option value="<%= t %>"><%= t %></option>
              <% end %>
            </select>
        </div>
      </div>


      <button class="waves-effect waves-light btn" action="submit">Add Game</button>
    </form>
  </div>



</div>
