<div class="col s12">
  <div style="border: 1px black solid; text-align:center">

      <div class="row">
        <div class="col s7" style="border: 1px black solid; text-align:center">
          <p><strong>away</strong> vs. <strong>home</strong></p>
        </div>

        <div class="col s1" style="border: 1px black solid;">
          <p style="display: inline block; text-align:center"><strong>num</strong></p>
        </div>

        <div class="col s4" style="border: 1px black solid;">
          <p style="display: inline block; text-align:center"><strong>@:</strong> location</p>
        </div>
      </div>

  </div>
</div>
