<div class="row"><div class="divider"></div></div>

<div class="row">
  <div class="col s12" style="border: 1px black solid; text-align:center">

    <div class="col s10" style="border: 1px black solid;">
      <p style="display: inline block; text-align:center">
        Tiebreaker Game: <strong><%= @tiebreaker_game[0][:away] %></strong> vs. <strong><%= @tiebreaker_game[0][:home] %></strong>
      </p>
    </div>

    <div class="col s2" style="border: 1px black solid;">
      <p style="display: inline block; text-align:center"><a class="waves-effect waves-light btn">Delete</a></p>
    </div>

  </div>
</div>