<div class="row center-align flow-text">
    <div class="col s12">

        <div class="row">
            <div class="col s12">
                <h5>Admin: Active Week</h5>
            </div>
        </div>

        <%= render 'status' %>

        <% if @active_week.locked == true && !@current_week.finalized %>
            <form action="/admin/scores" role="form" method="GET">
              <button class="btn waves-effect waves-light" type="submit">Add Game Scores</button>
            </form>
        <% else %>

            <% if @games.count < 10 %>
                <%= render 'add_game' %>
            <% elsif !@current_week.finalized  %>
                <form action="/admin/lock" role="form" method="GET">
                    <button class="btn waves-effect waves-light" type="submit">Lock Week</button>
                </form>
            <% end %>

        <% end %>

    </div>
</div>

<div class="divider"></div>
<br/>

<%= render 'active_week_games' %>

