<div class="row">
  <div class="col s12">
    <div style="border: 1px black solid; text-align:center">
      <span class="flow-text">Current Week: <%= @current_week.week %></span>
    </div>

  </div>
</div>