<div class="row center-align flow-text">
    <div class="col s12">

        <div class="row">
            <div class="col s12">
                <h5>User Pick Summary</h5>
                <h5>Week: <%= @active_week.week %></h5>
            </div>
        </div>

        <div class="row">
          <div class="col s6">
            Username
          </div>

          <div class="col s6">
            <strong>Picks Remaining!</strong>
          </div>
        </div>

        <div class="row">
        <% @users.each_with_index do |u, index| %>

          <div class="col s6">
            <%= u.username %>
          </div>

          <div class="col s6">
            <% if (30 - @pick_summary[index].to_i) == 0 %>
              -
            <% else %>
              <strong><%= 30 - @pick_summary[index].to_i %></strong>
            <% end %>
          </div>

        <% end %>
        </div>

  </div>
</div>