<div class="row center-align flow-text">
    <div class="col s12">

        <%= render 'status' %>

        <%= render 'active_week_games' %>

    </div>

    <div class="footer-copyright center-align">
        Updated at: <%= @games.last.updated_at %>
    </div>
</div>

