<div class="row">
  <div class="col s12" style="text-align:center;">
    <div class="col s12" style="border: 1px black solid;">
      <span class="flow-text">View Past Weeks</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12" style="text-align:center;">
    <% @weeks.each do |wk| %>
    <div class="col s12" style="border: 1px black solid;">
      <span class="flow-text"><%= link_to "Week " + wk.week.to_s, site_archived_path(:week => wk.id) %></span>
    </div>
    <% end %>
  </div>
</div>