@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';

body {
    display:        flex;
    flex-direction: column;
    min-height:     100vh;
}

main {
    flex: 1 0 auto;
}

.football-img {
    height:   25px; 
    width:    25px;

    position: relative;
    top:      7.5px;
    left:     5px;
}

#title-header {
    position:  relative;
    left:      10px;
    font-size: 20px;
}

.sia {
    height: 30px;
    width:  30px;
}

.alert {
    color: red;
}

.background {
    background-color: #F5F5F5;
}

.make-your-pick {
    color:      red;
    font-style: italic;
}

.spread {
    margin-top: 10px;
}

.game-pick-team-logo-btn {
    background-color: #E8E8E8;
    border:           2px white solid;
    border-radius:    10px;
    box-shadow:       5px 5px 5px #888888;

    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.game-pick-team-logo-btn:hover {
    background-color: white;
    border:           2px #64B5F6 solid;
}

.game-pick-team-logo-btn:active {
    background-color: #64B5F6;
    border:           2px white solid;
}

.game-pick-logo {
    padding-top: 1px;
}

.successful-check {
    margin-left:  auto 0;
    margin-right: auto 0;
    margin-top:   25px;
}

.successful-check img {
    height: 30px;
    width:  30px;
}

.locked-pick {
    position: relative;
    top:      2.5px;

    height: 25px;
    width:  25px;
}

.tiebreaker {
    border:     1px #888888 solid;
    box-shadow: 5px 5px 5px #888888;
}

.archived-right-wrong {
    margin-left: auto 0;
    margin-right: auto 0;
    margin-top: 5px;
}

.archived-right-wrong img {
    height: 30px;
    width:  30px;
}

.live-correct-pick {
    color: green;
}

.live-incorrect-pick {
    color: red;
}

.standings-easter-egg {
    height: 300px;
    width:  300px;
}

@media screen and (max-width: 765px) {
    .matchup-smaller-font {
        font-size: 14px;
    }
}