@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';

body {
    display:        flex;
    flex-direction: column;
    min-height:     100vh;
}

main {
    flex: 1 0 auto;
}

.football-img {
    height:   25px; 
    width:    25px;

    position: relative;
    right:    10px;
}

.sia {
    height: 30px;
    width:  30px;
}

.alert {
    color: red;
}

.background {
    background-color: #F5F5F5;
}

.make-your-pick {
    color:      red;
    font-style: italic;
}

.spread {
    margin-top: 10px;
}

.game-pick-team-logo-btn {
    background-color: #F5F5F5;
    box-shadow:       5px 5px 5px #888888;

    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.game-pick-logo {
    padding-top: 1px;
}

@media screen and (max-width: 765px) {
    .matchup-smaller-font {
        font-size: 14px;
    }
}