@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.alert {
    color: red;
}
    
@media only screen and (max-device-width: 320px) {


}
