<div class="row">
  <div class="col s12" style="text-align:center">
    <p><%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
  </div>
</div>

<div class="row">
  <div class="col s12" style="text-align:center">
    <p><strong>sia inc &copy; 2016</strong></p>
  </div>
   <div class="col s12" style="text-align:center">
    <p><img src="/assets/sia.png" height="30" width="30"></p>
  </div>
</div>