<!-- <div class="row">
  <div class="col s8" style="text-align:center">
    <p><strong>&copy; 2016 => sia inc</strong></p>
  </div>
   <div class="col s1 offset-s1" style="text-align:center">
    <p style="float: right; display: inline block;"><img src="/assets/sia.png" height="30" width="30"></p>
  </div>
</div> -->